@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #0c0c31 0%, #0c0c31 100%);;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.image{
    height: 200px;
    width: 350px;

}
.title{
    color: yellow;
    margin-top: 5px;
}
.description{
    text-align: center;
    inline-size: 550px;
    overflow-wrap: break-word;
    color: white
}
.country{
    color: rgb(109, 108, 108);
    font-weight: 400;
}
button{
    background-color: #ce7a06;
    color: black;
    height: 30px;
    width: 50px;
    font-family: "Montserrat";
    border-radius: 20px;
    margin: 5px;
    font-weight: 600;
    border: none;
}
button:hover{
    background-color: #ae6703;
    cursor: pointer;
}